.cs-channel-card {
  height: 100%;
  min-height: 300px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cs-channel-img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  position: relative;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.5s ease;
}

.cs-channel-img:hover {
  transform: scale(1.06);
}

.cs-channel-details {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #181A20;
  padding: 20px 20px 30px 20px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 5;
  min-height: 15rem;
}

.cs-partner-name {
  color: #DD2525;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.099px;
}

.cs-industry {
  color: #FFF;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: 0.08px;
  margin-bottom: 2.5rem;
}

.row > .col-md-6:nth-child(3) .cs-channel-card,
.row > .col-md-6:nth-child(4) .cs-channel-card {
  margin-top: 1.5rem;
}