.csd-subtext-list li::marker {
    color: red;
}

.csd-subtext-list li {
    color: #181a20b8;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .096px;
    line-height: 149%;
    margin-top: 1rem;
}

.p-heading {
    font-family: Gilroy, sans-serif;
  color: #181A20;
  font-size: clamp(3rem,10vw,4.625rem);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.336px;
  text-transform: uppercase;
}

.csd-heading {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.csd-text {
    color: #181a20b8;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .096px;
    line-height: 149%;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .csd-cta-sction {
        height: 50vh;
    }
}