.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  position: relative; /* IMPORTANT for close button */
  background: #fff;
  width: 520px;
  padding: 32px 28px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

.closeIcon {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #cfcfcf;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  background: #fff;
  transition: all 0.2s ease;
}

.closeIcon:hover {
  border-color: #1f2dbb;
  color: #1f2dbb;
  transform: scale(1.05);
}


 .modal h2 {
  /* font-size: 18px; */
  margin-bottom: 4px;
}

.modal p {
  font-size: 18px;
  margin-bottom: 16px;
  /* color: #555; */
}

.modal input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal button {
  width: 100%;
  padding: 14px;
  background: #1d2ca5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.modal button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
