.help-heading {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.help-heading-bold {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.help-acc-wrap {
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

.help-section {
    background: #F7F8FC;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.form-help input::placeholder, .form-help textarea::placeholder, .form-help select, .form-help select option{
    color: rgba(24, 26, 32, 0.70);
    font-family: Rubik, sans-serif;
    
    font-size: clamp(12px, 5vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
}

.help-accordian{
    width: -webkit-fill-available;
    height: fit-content;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
}

.form-control{
    appearance: auto !important;
}