.au-section {
    background-image: url('../public/assets/AboutUsBg.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.au-heading {
    color: #181A20;
    font-family: Gilroy;
    font-size: clamp(3rem, 10vw, 4.625rem);
    font-style: normal;
    font-weight: 700;
    line-height: 136%;
    letter-spacing: 0.252px;
    text-transform: uppercase;
}

.mt4 {
    margin-top: 4rem !important;
}

.au-subtext {
    color: rgba(24, 26, 32, 1);
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 171%;
    letter-spacing: 0.045px;
}

.au-details {
    color: #181A20;
    font-family: Gilroy;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 50.4px */
    letter-spacing: 0.126px;
    text-transform: uppercase;
}

.au-details:hover {
    color: #DD2525;
}

.au-subdetails {
    margin-top: 0.5rem;
    color: #181A20;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    /* 16.8px */
    letter-spacing: 0.042px;
}

.au-divider {
    color: #181A20;
    margin-top: 2rem;
}

.au-btn-start-investing {
    background: #FFF;
    color: #181A20;
}

.au-btn-lease-an-office {
    background: #181A20;
    color: #FFF;
}

.au-btn-lease-an-office,
.au-btn-start-investing {
    padding: 7px;
    border-radius: 10px;
    border: none;
}

/* Learn More Button */
.au-learn-more-button {
    transform: rotate(-45deg);
    color: #DD2525;
}

/* Section 2 */

.au-apart-text {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
}

.au-uniqueness-section {
    background: #F7F8FC;
}

.au-custom-gap-4 {
    gap: 4rem;
}

.au-biz-card {
    width: 330px;
    height: 435px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.au-biz-image {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.au-biz-image.default {
    opacity: 1;
    z-index: 1;
}

.au-biz-image.hover {
    opacity: 0;
    z-index: 2;
}

.au-biz-card:hover .au-biz-image.default {
    opacity: 0;
}

.au-biz-card:hover .au-biz-image.hover {
    opacity: 1;
}

.au-biz-overlay {
    position: absolute;
    bottom: 0;
    padding: 30px 25px 25px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    background: #181A20;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.6s ease;
}

.au-biz-card:hover .au-biz-overlay {
    opacity: 1;
    visibility: visible;
}

.au-biz-description {
    font-size: 12px;
    color: #FFF;
    max-height: 180px;
    overflow-y: auto;
}

.au-card-title {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 25px 25px;
}

.au-biz-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #FFF;
    font-size: 14px;
    opacity: 0.5;
}

.au-sub-heading-clientele {
    color: var(--Light-Text-Color-Body-2, #9A9AB0);
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.au-heading-clientele {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.au-clientele-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.au-clientele-list li::marker {
    color: red;
}

.au-clientele-list li {
    color: rgba(0, 0, 0, 0.60);
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 184%;
    /* 51.52px */
    letter-spacing: 0.14px;
    text-transform: capitalize;
}

.au-clientele-includes {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
}

button {
    height: 44px;
}

/* Vision */
.au-vision {
    background: #FFF;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.au-vision-heading {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.au-vision-img {
    margin-top: 36px;
}

.au-vision-text {
    color: #181A20;
    font-family: Rubik;
    font-size: clamp(31px, 3vw, 45px);
    font-style: normal;
    font-weight: 400;
    line-height: 137%;
    /* 61.65px */
    letter-spacing: 0.225px;
}

/* Mission */
.au-mission {
    background: #F7F8FC;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.au-mission-heading {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.au-mission-img {
    margin-top: 36px;
}

.au-mission-text {
    color: #181A20;
    font-family: Rubik;
    font-size: clamp(31px, 3vw, 45px);
    font-style: normal;
    font-weight: 400;
    line-height: 137%;
    /* 61.65px */
    letter-spacing: 0.225px;
}

@media (max-width: 767.98px) {
    .au-mission-img {
        width: -webkit-fill-available;
        margin-bottom: 36px;
    }

    .au-vision-img {
        width: -webkit-fill-available;
        margin-bottom: 36px;
    }

    .au-clientele-list {
        flex-direction: column;
    }

    .au-biz-card {
        padding: 0 !important;
    }

    .au-services-list-wrapper {
        padding-left: 0 !important;
        padding-top: 0 !important;
    }
}

/* Core Values */

.au-core-values {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.au-value-text {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}


.au-core-value-heading {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
    margin-top: 2rem;
}

.au-core-values-img {
    width: 600px;
}

.au-core-card {
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    font-family: Arial, sans-serif;
    overflow: hidden;
    filter: grayscale(1);
}

.au-core-card:hover {
    filter: grayscale(0) !important;
}

.au-rigor {
    background-image: url('../public/assets/AboutUs/rigor.webp');
}

.au-transparency {
    background-image: url('../public/assets/AboutUs/transparency.webp');
}

.au-alignment {
    background-image: url('../public/assets/AboutUs/alignment.webp');
}

.au-performance {
    background-image: url('../public/assets/AboutUs/performance.webp');
}

.au-overlay {
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: white;
    margin-bottom: 1rem;
}

.au-overlay h3 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 52.8px */
    letter-spacing: 0.22px;
    text-transform: uppercase;
}

.au-overlay p {
    display: none;
    color: #FFF;
    font-family: Rubik;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    /* 20.4px */
    letter-spacing: 0.085px;
}

.au-core-card:hover .au-overlay p {
    display: block;
}

/* Services */

.au-services {
    background: #F7F8FC;
}

.au-services-left-heading {
    color: #181A20;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 42px */
    letter-spacing: 0.175px;
    text-transform: uppercase;
}

.au-services-right-heading {
    color: #181A20;
    font-family: Gilroy-SemiBold;
    font-size: clamp(54px, 10vw, 100px);
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    /* 146.05px */
    letter-spacing: 0.635px;
    text-transform: capitalize;
}

.au-services-list {
    list-style: none;
    padding-left: 0;
}

.au-services-list li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #181A20;
    font-family: Rubik, sans-serif;
    font-size: clamp(28px, 10vw, 40px);
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.265px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.au-services-list li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pt6 {
    padding-top: 6rem;
}

.pl10 {
    padding-left: 10rem !important;
}

.mt5 {
    margin-top: 5rem !important;
}

/* Leadership */
.au-leadership {
    background: #F7F8FC;
}

.au-subheading-leader {
    color: var(--Light-Text-Color-Body-2, #9A9AB0);
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.au-heading-leader {
    color: #181A20;
    font-family: Gilroy, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.au-team-card {
    position: relative;
    width: 260px;
    height: 595px;
    border-radius: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.au-team-image {
    border-radius: 34px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* Overlay setup */
.au-team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ffffff10, #ffffffb0, #fffffff0);
    padding: 20px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show text on hover */
.au-team-card:hover .au-team-overlay {
    opacity: 1;
    visibility: visible;
    gap: 1rem;
    padding: 3rem;

}

.au-team-description {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    overflow-y: auto;
}

.au-team-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.au-team-footer h5 {
    margin: 0;
    font-size: 16px;
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

.au-team-footer small {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #666;
}

.au-social-icons i {
    font-size: 2rem;
    margin-left: 10px;
    color: #000;
    transition: color 0.3s;
}

.au-social-icons i:hover {
    color: #0077b5;
}

.au-partner-button {
    width: 70px;
    height: 70px;
    fill: #D9D9D9;
    border-radius: 50%;
    border: none;
    font-size: 24px;
}

.au-partner-button:hover {
    background-color: #181A20;
    color: #DD2525;
}

.au-partner-button:first-child {
    margin-right: 16px;
}

.au-consultants {
    background: #F7F8FC;
}

.au-consultant-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.au-consultant-logo img {
    object-fit: contain;
    width: 10%;
}

.au-international-heading {
    color: #181A20;
    font-family: Gilroy-Light, sans-serif;
    font-size: clamp(20px, 3vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.au-domestic-heading {
    color: #181A20;
    font-family: Gilroy-Light, sans-serif;
    font-size: clamp(20px, 3vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.245px;
    text-transform: uppercase;
}

.mt3 {
    margin-top: 3rem !important;
}

/* Talk Section */

.au-talk-section {
    background: #F7F8FC;
}

.au-build-wealth {
    color: #181A20;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 67px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    /* 77.05px */
    letter-spacing: 0.335px;
    text-transform: capitalize;
}

.mt6 {
    margin-top: 6rem !important;
}

.au-logo {
    height: 70px;
}

.au-intntl {
    filter: grayscale(1) !important;
}

.au-intntl:hover {
    filter: grayscale(0) !important;
    transform: scale(1.2);
    transition: opacity 0.3s ease;
}

.au-services-list:hover li {
    opacity: 0.5;
}

.au-services-list li:hover {
    opacity: 1;
}

.au-services-list-wrapper {
    /* padding-left: 10rem; */
    padding-top: 3rem;
}

.au-service-description {
    width: 70%;
    text-align: justify;
}

.au-consulatnt-row{
    display: flex;
    flex-direction: column;
    width: fit-content;
}