.cl-hero-section {
    background-image: url('../public/assets/CorporateLeasing.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.cl-vertical-line {
    width: 0.5px;
    height: 100%;
    background-color: #fff;
  }

.cl-invstmtAdvFundsUndrAdv{
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 8rem;
}

.cl-box-subtext{
    margin-top: 0.5rem;
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.042px;
}

.cl-FudsUnndrAdvSubTxt{
    color: #fff;
    font-family: Gilroy, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.126px;
    text-transform: uppercase;
}

.cl-heading {
     font-family: Gilroy, sans-serif;
  color: #181A20;
  font-size: clamp(3rem,10vw,4.625rem);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.336px;
  text-transform: uppercase;
}

.cl-subtext {
    color: #000;
font-family: Rubik;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 145%; /* 21.75px */
letter-spacing: 1.5px;
text-transform: uppercase;
}

.cl-invstmtAdvFundsUndrAdvTxt{
    color: #DD2525;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.147px;
}

.cl-btn-start-investing {
    background: #FFF;
    color: #181A20;
    padding: 7px;
    border-radius: 10px;
    border: none;
}

.cl-learn-more-button {
    transform: rotate(-45deg);
    color: #DD2525;
}

.cl-btn-lease-an-office {
    background: #181A20;
    color: #FFF;
    padding: 7px;
    border-radius: 10px;
    border: none;
}

.cl-fundsUndrAdv{
    margin-top: 2rem;
    border-radius: 16px;
    background: #181A20;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.09);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 8rem;
}


.cl-fundsUndrAdvSubTxt{
    color: #fff;
    font-family: Gilroy, sans-serif;
    font-size: 30px;
    /* font-size: 30px; */
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.126px;
    text-transform: uppercase;
}

.cl-fundsUndrAdvTxt{
    color: #DD2525;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.147px;
}

.cl-List-text{
  color: rgba(0, 0, 0, 0.60);
font-family: Rubik;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 184%; /* 34.96px */
letter-spacing: 0.095px;
text-transform: capitalize;
  /* width: 500px; */

}

.cl-Marker{
    width: 10px;
    height: 10px;
}

@media (min-width: 768px) {
    .cl-cta-sction {
        height: 60vh;
    }
}