.accordionContentOpen {
  opacity: 1;
  max-height: 4000px; /* Adjust to a large value */
  animation: slideDown 0.3s ease-out forwards;
  visibility: visible;
}

.accordionContentClosed {
  opacity: 0;
  max-height: 0;
  animation: slideUp 0.3s ease-in forwards;
  visibility: hidden;
}

.AccordionContent {
  color: rgba(24, 26, 32, 0.72);
  font-family: Rubik, sans-serif;
  font-size: clamp(12px,5vw,20px);
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  letter-spacing: 0.105px;
  transition: opacity 0.3s ease, max-height 0.3s ease-in-out;
  letter-spacing: 0.06px;

    text-align: justify;
    /* padding-right: 2rem; */
/* margin-top: 2rem; */
}

.AccordionContent p {
  margin-bottom: 12px;
}


.sidepaddingright{
    padding-right: clamp(0rem, 3vw, 3rem) !important;
}

.sidepaddingleft{
    padding-left: clamp(0rem, 3vw, 3rem) !important;
}   

.linkVisible{
    visibility: visible;
}

.linkHide{
    visibility: hidden;
}

.customContainer {
  margin-bottom:5%;
}

.accordionHeader {
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
  /* color: #333; */
  font-size: clamp(22px,5vw,35px);
  line-height: 120%;
  /* color: #181A20; */
font-family: Gilroy;
font-style: normal;
font-weight: 700;
letter-spacing: 0.245px;
text-transform: uppercase;
}

.accordionHeader:hover{
background: none !important;
  color: inherit
}

.readMoreLink{
    color: #DD2525;
    text-decoration: none;
}

.ip_top_section{
    background-color: #F7F8FC;
}
.ip_header_name{
    color: #181A20;
font-family: Gilroy;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 58.8px */
letter-spacing: 0.245px;
text-transform: uppercase;
margin-bottom: 3rem;
}

.ip_header_Details{
    margin-bottom: 3rem;
}

.ip_slogan{
    /* padding-right: clamp(0rem,2vw,4rem); */
    color: #181A20;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 142%; /* 48.28px */
letter-spacing: 0.17px;
}

.ip_slogan_red{
    color:red
}

.ip_header_titles{
    color: #181A20;
font-family: Gilroy;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 43.2px */
letter-spacing: 0.18px;
text-transform: uppercase;
margin-bottom: 1rem;
}

.ip_header_text{
    color: #181A20;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 34.8px */
letter-spacing: 0.145px;
}

.ip_header_image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 650px;
}

.ip_slogan_cta{
    margin-top: 2rem;
}

.tick-icon{
    font-size: 3.5rem;
    color: #25DD2B;
}