.hero-section {
    background-image: url('../public/assets/InvestmentAdvisory.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.ia-heading {
    font-family: Gilroy, sans-serif;
  color: #181A20;
  font-size: clamp(3rem,10vw,4.625rem);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.336px;
  text-transform: uppercase;
}

.mt4 {
    margin-top: 4rem !important;
}

.ia-subtext {
    color: #000;
font-family: Rubik;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 145%; /* 21.75px */
letter-spacing: 1.5px;
text-transform: uppercase;
}

.ia-btn-start-investing {
    background: #FFF;
    color: #181A20;
}

.ia-btn-lease-an-office {
    background: #181A20;
    color: #FFF;
}

.ia-lease-an-office,
.ia-btn-start-investing {
    padding: 7px;
    border-radius: 10px;
    border: none;
}

/* Learn More Button */
.ia-learn-more-button {
    transform: rotate(-45deg);
    color: #DD2525;
}

.ia-FundsUndrAdv{
    border-radius: 16px;
    background: #181A20;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.09);
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 1rem;
}

.ia-FundsUndrAdvSubTxt{
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.051px;
    text-transform: uppercase;
}

.ia-FundsUndrAdvTxt{
    color: #DD2525;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.147px;
}

.ia-List-text{
  color: rgba(0, 0, 0, 0.60);
font-family: Rubik;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 184%; /* 34.96px */
letter-spacing: 0.095px;
text-transform: capitalize;
  /* width: 500px; */

}

.ia-Marker{
    width: 10px;
    height: 10px;
}

@media (min-width: 768px) {
    .ia-cta-sction {
        height: 60vh;
    }
}