.ip_blue_card{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #181818;
}

.ip_connectivity_pointers{
   color: #181A20;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 259%; /* 56.98px */
letter-spacing: 0.11px;
}

.ip_conectivity_header{
    color: #181A20;
font-family: Gilroy;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 58.8px */
letter-spacing: 0.245px;
text-transform: uppercase;
margin-top: 4rem;
margin-bottom: 1.5rem;
}

.ip_location_description{
    color: rgba(24, 26, 32, 0.72);
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 149%; /* 47.68px */
letter-spacing: 0.096px;
margin-top: 1.5rem;
}

.ip_location_heading{
color: #181A20;
font-family: Gilroy;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 58.8px */
letter-spacing: 0.245px;
text-transform: uppercase;
margin-top: 4rem;
margin-bottom: 1.5rem;
}

.ip_hr{
    margin-bottom: 0;
    font-weight: 700;
    background-color: #000000;
    color: #000000;
    height: 0.2rem;
}

.ip_location_description_container{
    padding-right: 5rem !important;
}

.ip_location_connectivity_conatiner{
    min-width:90% !important;
}