.ip_hr{
    margin-bottom: 0;
    font-weight: 700;
    background-color: #000000;
    color: #000000;
    height: 0.2rem;
}

.ip_amenities_heading{
    color: #181A20;
font-family: Gilroy;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 58.8px */
letter-spacing: 0.245px;
text-transform: uppercase;
margin-top: 4rem;
margin-bottom: 1.5rem;
}

.ip_amenities_points{
    color: #181A20;
font-family: Gilroy;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 43.2px */
letter-spacing: 0.108px;
margin-top: 3rem;
/* margin-bottom: 3rem; */
max-width: 80%;
}

.ip_amenities_points:hover{
    color: red;
}

.ip_amenities_container{
    padding-left: 7% !important;
}