.pat-column{
    background-color:#DD2525 !important;
    color: #FFF !important;

text-align: center;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 26.4px */
letter-spacing: 0.11px;
text-transform: uppercase;
}

.pat-col-1{
    background-color: rgba(217, 217, 217, 0.20) !important;
    color: #181A20;
text-align: center;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 26.4px */
letter-spacing: 0.11px;
text-transform: uppercase;

}

.pat-col-0{
    background-color: rgba(255, 255, 255, 0.60) !important;
    color: #181A20;
text-align: center;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 26.4px */
letter-spacing: 0.11px;
text-transform: uppercase;
}


@media (max-width: 768px) {
    .pat-table th,
    .pat-table td {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    .ip_amenities_heading {
        font-size: 1.2rem;
    }
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.pat-table th,
.pat-table td {
    white-space: nowrap;
    font-size: 1rem;
}

.pat-button-margin{
    margin-top: 4rem;
margin-bottom: 1.5rem;
}