.r-example-2 {
    border: none !important;
}

.r-heading {
    color: #181A20;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 84px;
    font-size: clamp(3rem,10vw,6rem);
    font-style: normal;
    font-weight: 500;
    line-height: 121%;
    letter-spacing: 0.252px;
    text-transform: uppercase;
}

.r-file-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(1) !important
}

.r-file-image:hover {
    filter: brightness(0.5) !important;
}

.r-wrapper {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.r-data {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background: #fff;
    color: #000;
    width: 100%;
}

.r-wrapper:hover .r-data {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.r-download-button:hover {
    border: 1px solid #000 !important;
}

.r-file-name {
    position: absolute;
    padding: 2rem;
    width: 75%;
    bottom: 0;
    color: #FFF;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
    text-transform: uppercase;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition: visibility 0s linear 0.2s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    visibility: visible;
    z-index: 2;
}

/* .r-wrapper:hover .r-file-name {
    opacity: 0;
    transform: translate(60px, -40px) scale(0.98);
    transition-delay: 0s;
    visibility: hidden;
} */

.r-title {
    color: #000;
    font-family: Gilroy, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
    text-transform: uppercase;
}