.tnc_title_inactive{
color: rgba(24, 26, 32, 0.50);
}

.tnc_title_active{
color: #181A20;;
}

.tnc_title{
font-family: Gilroy;
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: 121%; /* 66.55px */
letter-spacing: 0.165px;
}

.tnc_headings{
    color: #181A20;
font-family: Rubik;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 149%; /* 47.68px */
letter-spacing: 0.096px;
margin-bottom: 2.5rem;
margin-top: 1.5rem;
}

.tnc_text{
    color: #181A20;
font-family: Rubik;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 154%;
letter-spacing: 0.075px;
}

.tnc_text a{
    color: #181A20;
}

.tnc_text a:hover{
    color: red;
}

ul{
    list-style-type: disc;
}