.categoryContainer{
    background-color:#EBEBEB;
    padding-top:2rem;
    padding-left:1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    height:650px
}

.categoryHeading{
color: #181A20;
font-family: Gilroy;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 121%; /* 52.03px */
letter-spacing: 0.129px;
text-transform: uppercase;
}

.categoryLinks{
    color: #181A20;
font-family: Rubik;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: 153%; /* 32.13px */
letter-spacing: 0.063px;
text-decoration: none;
}

.categoryLinks:hover{
    color: #DD2525;
}